Designer/Service References/ModelServices/ModelServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://v1.model.services.statemagic.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://v1.model.services.statemagic.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://v1.model.services.statemagic.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAllModels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="systemKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllModelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllModelsResult" type="tns:ArrayOfModelSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModelSummary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ModelSummary" nillable="true" type="tns:ModelSummary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ModelSummary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ModelDataID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="modelId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="systemKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelResult" type="tns:StateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StateModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ModelID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="States" type="tns:ArrayOfState" />
          <s:element minOccurs="0" maxOccurs="1" name="Transitions" type="tns:ArrayOfTransition" />
          <s:element minOccurs="0" maxOccurs="1" name="ModelName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="State" nillable="true" type="tns:State" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="State">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StateID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Default" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transition" nillable="true" type="tns:Transition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transition">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SourceStateRef" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationStateRef" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:StateModel" />
            <s:element minOccurs="1" maxOccurs="1" name="systemKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveModelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="systemKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="apiKey" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="systemKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogInResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllModelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllModels" />
  </wsdl:message>
  <wsdl:message name="GetAllModelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllModelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetModel" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelResponse" />
  </wsdl:message>
  <wsdl:message name="SaveModelSoapIn">
    <wsdl:part name="parameters" element="tns:SaveModel" />
  </wsdl:message>
  <wsdl:message name="SaveModelSoapOut">
    <wsdl:part name="parameters" element="tns:SaveModelResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="CreateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:portType name="ModelServicesSoap">
    <wsdl:operation name="GetAllModels">
      <wsdl:input message="tns:GetAllModelsSoapIn" />
      <wsdl:output message="tns:GetAllModelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:input message="tns:GetModelSoapIn" />
      <wsdl:output message="tns:GetModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveModel">
      <wsdl:input message="tns:SaveModelSoapIn" />
      <wsdl:output message="tns:SaveModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountSoapIn" />
      <wsdl:output message="tns:CreateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModelServicesSoap" type="tns:ModelServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllModels">
      <soap:operation soapAction="http://v1.model.services.statemagic.com/GetAllModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap:operation soapAction="http://v1.model.services.statemagic.com/GetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveModel">
      <soap:operation soapAction="http://v1.model.services.statemagic.com/SaveModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://v1.model.services.statemagic.com/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://v1.model.services.statemagic.com/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ModelServicesSoap12" type="tns:ModelServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllModels">
      <soap12:operation soapAction="http://v1.model.services.statemagic.com/GetAllModels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap12:operation soapAction="http://v1.model.services.statemagic.com/GetModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveModel">
      <soap12:operation soapAction="http://v1.model.services.statemagic.com/SaveModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://v1.model.services.statemagic.com/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://v1.model.services.statemagic.com/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelServices">
    <wsdl:port name="ModelServicesSoap" binding="tns:ModelServicesSoap">
      <soap:address location="http://localhost:53824/ModelServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ModelServicesSoap12" binding="tns:ModelServicesSoap12">
      <soap12:address location="http://localhost:53824/ModelServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>